@import "tailwindcss";

@theme {
  --color-primary: #d4af37;
  --color-background-light: #f9fafb;
  --color-background-dark: #0a0a0a;

  --font-display: "Inter", sans-serif;
  --font-body: "Inter", sans-serif;
}
/* esto le dice a tailwind que active las clases dark cuando el elemento html tiene la clase .dark */
@variant dark (&:where(.dark, .dark *));

.dark body {
  background-color: var(--color-background-dark);
  color: var(--color-text-dark);
}

body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
}


@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
